.profile-island{
    max-width: 15em;
    padding: 0.5em;
    background-color: white;
    border-radius: 5px;
}



.profile-island li{
    display: flex;
    padding: 0.5em 0.7em;
    align-items: center;
    gap:1em;
}

.profile-list-img-container{
    width: 10%;
}

.profile-list-img-container img{
    width: 100%;
    display: block;
}

.profile-island ul::after{
    content: '';
    display: block;
    border-bottom: 0.5px solid rgb(206, 206, 206);
}

.logout-btn {
    display: flex;
    justify-content: center;
    padding: 0.5em;
}

