.Button{
    background-color: lightblue;
    border: 0px;
    cursor: pointer;
    padding: 0.5em;
    font-size: 1rem;
    border-radius: 5px;
    flex:1;
}

.Button:hover{
    box-shadow: 0px 0px 3px -1px black;
}

.danger{
    background-color: #f33333;
    color: white;
}



.primary{
    background-color: #387ADF;
    color: white;
}